

div { 
	outline: 1px solid #CCCCCC;
	
}

#main-content {
	width 350px;
	height 100px;
	
	
}

.button-holder {
	width: 176px;
	float: left;
	
}

.button {
	width: 60px;
	padding: 8px;
	border-width: 6px;
	border-color: red;
	border-style: dotted;
	float: left;
	text-align: center;
	cursor: pointer;
	background: yellow;
	
	
}

.disabled {
	
	cursor: default;
	border-color: gray;
	color: gray;
	
	

}

.image-holder {
	width: 300px;
	height: 215px;		
	float: left;


}
